$color-fondo: #f5f5f5;
$color-texto: #333;
$color-header: #222;
$color-blanco: #fff;
$color-borde: #ccc;

$fuente-principal: 'Arial', sans-serif;


@mixin flex-center($gap: 10px) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

%bloque-centrado {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}